body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

#login-container, #signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #Ed1703;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button {
    background-color: #8f1005;
}

#login-container button, #signup-container button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-logo {
    width: 27%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#signup-link-container, #login-link-container {
    margin-top: 20px;
    text-align: center;
}

#signup-link-container p, #login-link-container p {
    margin: 0;
}

#signup-link-container a, #login-link-container a {
    color: #007bff;
    text-decoration: none;
    text-decoration: underline;
}

